# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
dist/
dist-ssr/

# Cache directories
.cache
.parcel-cache
.nyc_output
.vitepress/cache
.svelte-kit/
.next
.nuxt
.cache/

# Environment files
.env
.env.*
!.env.example
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build / output folders
build/Release
lib-cov
coverage
out
